<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.diagnostics>
    <!--Use PerformanceLog tracing only in testing phase.
    GeneralLog traces all Error messages also to Windows Application Log.
    Trace switch values and purposes.
      Off       0    None
      Error     1    Only error messages
      Warning   2    Warning messages and error messages
      Info      3    Informational messages, warning messages, and error messages
      Verbose   4    Verbose messages, informational messages, warning messages, and error messages-->
    <switches>
      <add name="GeneralLog" value="Warning"/>
      <add name="PerformanceLog" value="Off"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!-- Comment out the ConsoleTraceListener line below if another listener is addded-->
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>

        <!-- SYS600FileTraceOutput - Use the next line to enable basic logging to file.-->
        <!--<add name="SYS600FileTraceOutput" type="System.Diagnostics.TextWriterTraceListener" initializeData="cpmPlusWriter.log" />-->

        <!-- SysRollingFileTraceOutput - Use the next line to enable more sophisticated file logging. 
                                         Specify max file size and number of old log files preserved. -->
        <!--<add name="SysRollingFileTraceOutput" type="ABB.MicroSCADA.Diagnostics.SysRollingFileTraceOutput, MicroSCADAMessaging" initializeData="CPMW.log" maxFileSizeKB="5120" maxRollingFileCount="2" cleanStart="true" />-->
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
